Repository be15-fin-Nexus-SION/be15-fin-Nexus-SION-FE, pull requests merged in 2025-06, with the labels that each got.

#2 feat: 헤더, 컴포넌트 등록, AppShell.vue & index.html, 설정, 폰트 설정
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REAUEST_TEMPLATE.md
  index.html
  package-lock.json
  src/App.vue
  src/assets/main.css
  src/components/AppShell.vue
  src/components/badge/StatusBadge.vue
  src/components/badge/TechBadge.vue
  src/components/header/AuthMenu.vue
  src/components/header/HeaderMain.vue
  src/components/header/HeaderNav.vue
  src/components/list/DevListItem.vue
  src/features/score/router.js
  tailwind.config.js
Labels: feat

#3 chore: 오타 수정 및 파일 이름 변경
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#5 chore: 디스코드 알림 연동 설정 및 템플릿 수정
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/notify-reviewers.yml
  .github/workflows/trigger.yml
Labels: chore

#8 refactor: tailwind.config.js 컬러 팔레트 설정
  tailwind.config.js
Labels: refactor

#16 [feat] 기술 스택 별 인원수 조회 페이지
  __tests__/TechBadge.test.js
  cypress.config.js
  cypress/e2e/example.cy.js
  cypress/e2e/statistics.cy.js
  eslint.config.js
  src/api/axios.js
  src/api/member.js
  src/api/statistics.js
  src/components/AppShell.vue
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/badge/StatusBadge.vue
  src/components/badge/TechBadge.vue
  src/components/button/PrimaryButton.vue
  src/components/header/HeaderNav.vue
  src/components/list/DevListItem.vue
  src/components/searchBar/SearchBar.vue
  src/components/side/AdminSettingSidebar.vue
  src/components/side/SidebarItem.vue
  src/components/side/SidebarWrapper.vue
  src/components/side/StatisticsSidebar.vue
  src/composable/useInfiniteScroll.js
  src/composable/useLoadingBar.js
  src/features/statistics/components/DevList.vue
  src/features/statistics/router.js
  src/features/statistics/views/StackMemberCountView.vue
  src/features/statistics/views/StatisticsOverview.vue
  src/stores/auth.js
  tailwind.config.js
  vite.config.js
Labels: feat, FE, V1

#36 [feat] 기간별 인기 기술 스택 조회 페이지 구현
  __tests__/statistics/PopularList.test.js
  __tests__/statistics/StackPopularView.test.js
  cypress/e2e/statistics/StackPopular.cy.js
  src/api/statistics.js
  src/components/badge/GradeBadge.vue
  src/components/badge/JobBadge.vue
  src/components/side/AdminSettingSidebar.vue
  src/components/side/SidebarWrapper.vue
  src/components/side/StatisticsSidebar.vue
  src/features/statistics/components/PopularList.vue
  src/features/statistics/router.js
  src/features/statistics/views/StackAvgCareerView.vue
  src/features/statistics/views/StackMemberCountView.vue
  src/features/statistics/views/StackPopularView.vue
  tailwind.config.js
Labels: feat, FE, V1, test

#37 [feat] 프로젝트 참여 직무별 등록된 인원 수 조회 페이지 구현
  .gemini/styleguide.md
  __tests__/statistics/JobList.test.js
  cypress/e2e/statistics/JobParticipation.cy.js
  src/api/statistics.js
  src/components/side/SidebarWrapper.vue
  src/features/statistics/components/AvgList.vue
  src/features/statistics/components/JobList.vue
  src/features/statistics/components/PopularList.vue
  src/features/statistics/router.js
  src/features/statistics/views/JobParticipation.vue
  src/features/statistics/views/StackAvgCareerView.vue
  src/features/statistics/views/StackMemberCountView.vue
  src/features/statistics/views/StackPopularView.vue
Labels: feat, FE, V1, test

#38 [feat] 개발자 목록 조회, 상세 조회 UI 구현 및 API 연동
  __tests__/developers/DeveloperDetail.test.js
  __tests__/developers/DeveloperList.test.js
  __tests__/statistics/StackAvgCareerView.test.js
  cypress/e2e/developers/DeveloperDetail.cy.js
  package-lock.json
  package.json
  src/api/member.js
  src/components/SortDropdown.vue
  src/components/badge/TechBadge.vue
  src/components/searchBar/SearchBar.vue
  src/components/searchBar/TechStackSearchBar.vue
  src/features/developer/components/BarChart.vue
  src/features/developer/components/DeveloperBaseInfo.vue
  src/features/developer/components/DeveloperHistory.vue
  src/features/developer/components/RadarChart.vue
  src/features/developer/router.js
  src/features/developer/views/DeveloperDetailView.vue
  src/features/developer/views/DeveloperListView.vue
  src/features/statistics/views/StackAvgCareerView.vue
  src/features/statistics/views/StackMemberCountView.vue
Labels: feat, FE, V1

#50 [feat] 직무 목록 조회, 추가 페이지 구현
  src/api/admin.js
  src/assets/main.css
  src/components/input/InputBox.vue
  src/components/searchBar/NameIndexBar.vue
  src/components/side/SidebarWrapper.vue
  src/features/admin/components/AdminJobsList.vue
  src/features/admin/router.js
  src/features/admin/views/AdminJobsView.vue
  src/utills/hangul.js
  src/utills/toast.js
  tailwind.config.js
Labels: feat, FE, V1
